:root {
  --Contrast-Color1: #f6f3f4;
  --Contrast-Color2: #7d363e;
  --Contrast-Color2-A: rgb(125 54 62 / 0.3);

 --text-on-CC1: #7d363e;
 --text-on-CC2: #ffffff;

  --Highlight-Color1: #cc3378;

  --color-accent: #cc3378;

  --hex-black-1: #000000;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(page-content){
  animation-duration: 0.5s;
}


* {
  font-family: "utendo", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--Contrast-Color1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--Contrast-Color2);
  display: flex;
  justify-content: center;
}

ul li a {
  animation: doneHoverNav 0.5s;
  display: block;
  color: var(--Contrast-Color1);
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

@keyframes hoverNav {
  from {background-color: var(--Contrast-Color2)}
  to {background-color: var(--color-accent)}
}

@keyframes doneHoverNav {
  from {background-color: var(--color-accent)}
  to {background-color: var(--Contrast-Color2)}
}

ul li a:hover {
  animation: hoverNav 0.5s;
  background-color: var(--color-accent)
}

.sub-subtitle {
  font-size: 2em;
  text-align: center;
  color: var(--Contrast-Color2);
  font-family: "utendo", sans-serif;
  margin-top: 100px;
}

.codeProjectImage {
  border-radius: 10%;
}

.codeProject{
  display: flex;
  margin: 3%;
  width: auto;
  height: auto;
}

@font-face {
  font-family: 'utendo';
  src: url(/assets/fonts/utendo-regular.woff2) format(woff2),
  url(/assets/fonts/utendo-regular.woff) format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'splatink';
  src: url(/assets/fonts/splatink.woff2) format(woff2),
  url(/assets/fonts/splatink.woff) format(woff);
  font-weight: normal;
  font-style: normal;
}
